<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/homePage.css">
  </head>

  <body ng-app="myApp" ng-controller = "myController">
    <div class = "block">
      <h1>Welcome to your home page, <%= data.name %></h1>
    </div>
     <div class="user"><br>
       <a href="/">Log Out</a>
       <div class="data">
          <p>Your NickName : <span ng-model = "name"><%= data.name %></span></p>
          <input style = "display : none" type="text" name="" value="">
          <table>
              <tr ng-repeat = "item in dataset | filter : name = '<%= data.name %>' "><td>Your password : {{item.password}} </td></tr>
          </table>
          <p>Your Email : <%= data.email %> </p>
        </div>
     <form name="myForm" id = "myForm">
<input id = "dataEmail" name = "dataEmail" value = "<%= data.email %>" type = "text" style = "display : none">
<input id = "dataName" name = "dataName" value = "<%= data.name %>" type = "text" style = "display : none">
<input id = "dataPassword" value = "<%= data.password %>" type = "text" style = "display : none">
        <div class = "changePassword">
          <button type="button" name="button" onclick="newForm()">Change Password</button> <button id = "close" class="close" type="button" name="button" onclick = "escape()" >Close</button>
          <input class = "oldPassword" id = "oldPassword" type="text" autocomplete = "off" name="oldPassword" value="" onclick="hide()" placeholder="Enter current password">
          <input class = "newPassword" id = "newPassword" type="text" autocomplete = "off" name="newPassword" value="" placeholder="Enter new password">
          <input class = "moreNewPassword" id = "moreNewPassword" ng-model = "password" type="text" autocomplete = "off" name="moreNewPassword" value="" onclick="hide2()" placeholder="Enter new password again">
          <input class = "change" id = "submit" type="submit" name="submit" value="Change" ng-click = "changePassword()">
        </div>

    </form>
    <div id="result" style = "color : black; font-size: 15px; margin-top: 5px;"></div>
    </div>

    <script>

      var myApp = angular.module('myApp',[ ]);

      myApp.controller('myController', ['$scope', '$http', function ($scope,$http){
        $scope.name = '';
        $scope.password = '';

        $scope.getUser = function ()
        {
            $http.get('getDb')
           .then(function(response)
           {
              $scope.dataset = response.data;
           });

        }

        $scope.changePassword = function()
        {
          $http({method: 'GET', url = '/changePassword?name=' + $scope.name + '&password=' + $scope.password})
          sucess(function(data, status)
          {
            alert('Password changed');
            $scope.getUser();
          });

        }

        $scope.getUser();

     }]);

   </script>



    <script>

    function escape()
    {
      document.getElementById("close").style.display = 'none';
      document.getElementById("oldPassword").style.display = 'none';
      document.getElementById("newPassword").style.display = 'none';
      document.getElementById("moreNewPassword").style.display = 'none';
      document.getElementById("submit").style.display = 'none';
    }

    </script>

    <script>
  $(function () {
    $("#myForm").submit(function (event) {

      if(document.getElementById('oldPassword').value != document.getElementById('dataPassword').value || document.getElementById('oldPassword').value == '')
      {
        document.getElementById('oldPassword').style.border = '1px solid red';
        return false;
      }

      if(document.getElementById('newPassword').value == '')
      {
        document.getElementById('newPassword').style.border = '1px solid red';
        return false;
      }

      if(document.getElementById('moreNewPassword').value == '' || document.getElementById('newPassword').value != document.getElementById('moreNewPassword').value)
      {
        document.getElementById('moreNewPassword').style.border = '1px solid red';
        document.getElementById('newPassword').style.border = '1px solid grey';
        return false;
      }

      if(document.getElementById('newPassword').value == document.getElementById('moreNewPassword').value)
      {
        document.getElementById('moreNewPassword').style.border = '1px solid grey';
      }

      event.preventDefault();
      $.post("/changePassword", $(this).serialize());
      document.getElementById("result").innerHTML = "On email you got a new password";
      setTimeout(function(){ $('#result').hide(); }, 5000);
      setTimeout(function(){ $('#result').show(); }, 2000);
    })

  })
    </script>

     <script>

     function hide()
     {
         document.getElementById('oldPassword').style.border = '1px solid grey';
         document.getElementById('oldPassword').value = '';
     }

     </script>

     <script>

     function hide2()
     {
     document.getElementById('moreNewPassword').style.border = '1px solid grey';
     document.getElementById('moreNewPassword').value = '';
     }

    </script>


   <script>
     function newForm()
     {
        document.getElementById("close").style.display = 'block';
        document.getElementById("oldPassword").style.display = 'block';
        document.getElementById("newPassword").style.display = 'block';
        document.getElementById("moreNewPassword").style.display = 'block';
        document.getElementById("oldPassword").value = '';
        document.getElementById("newPassword").value = '';
        document.getElementById("moreNewPassword").value = '';
        document.getElementById("submit").style.display = 'block';
     }
   </script>


  </body>
</html>
